
@{
	ViewData["Title"] = "EmailSent";

}
<h1>Email Sent</h1>

<div class="main-w3layouts wrapper">
	<h1>Creative SignUp Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<h3> Chack your Inbox to reset your Pssword</h3>
			<p> <a href="Login">Login Naw!</a></p>

		</div>
	</div>
	<!-- copyright -->
	<div class="colorlibcopy-agile">
		<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
	</div>
	<!-- //copyright -->
	<ul class="colorlib-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>